# Ignore HDF5 model files
*.h5

# Ignore numpy binary files
*.npy

# Ignore data directory
/data/
/DDoS_SDN by Aiken Kazin/logs
/DDoS_SDN by Aiken Kazin/trainv2.py
/DDoS_SDN by Aiken Kazin/train.ipynb
/DDoS_SDN by Aiken Kazin/.DS_Store
/DDoS_SDN by Aiken Kazin/img/
/DDoS_SDN by Aiken Kazin/models/
/DDoS_SDN by Aiken Kazin/report/
/imgs/
/paper/


# Python cache and environment files (optional but recommended)
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
